.App {
  text-align: center;
  background: grey;
  color: lightblue;
}

.App-title {
  font-size: 1.5em;
  font-family: 'Raleway', sans-serif;
  /* background-color: white; */
}


.button {
  background-color: navy;
  color: white;
  padding: 5px 10px;
  opacity: 0.5;
  border: none;
}

.button:hover {
  opacity:1;
}

.navbar-container {
  width: 33%;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
  text-align: left;
  margin: 15px;
 }

 .nav-item {
   /* margin-right: 0px; */
   /* padding: 0 30px; */
   margin: 5px;
   opacity: 1;
   color: #ABFFD1;
   font-weight: 900;
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
 }

 .nav-item:hover {
   opacity: .7;
 }
